{
    "presets": [
        "env",
        "react",
        "stage-2"
    ],
    "plugins": [
        "syntax-dynamic-import",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}